* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/project-1.jpg) no-repeat center center/cover;
}

.container {
    width: 550px;
    height: 450px;
}

.header {
    font-size: 1.2rem;
    border: solid 2px #fff;
    color: #fff;
    background-color: #262626;
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
}

.main-content {
    background-color: #fff;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.main-content .text-area {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

.main-content .person {
    font-size: 1.6rem;
    color: red;
    text-transform: uppercase;
    margin-top: 20px;
}

.button-area button {
    background-color: #262626;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.button-area button:hover {
    background-color: #31324d;
}

.button-area button:active {
    background-color: lightblue;
}