@charset "UTF-8";

  body {
    text-align: center;
    padding: 0px;
    color: white;
    background-color: black;
    background-size: cover;
  }
  h1 {
    font-size: 150px;
    font-family: Courier;
    font-weight: 510;
    color: white;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    width: 800px;
    height: auto;
  }
  h2 {
    font-size: 40px;
    font-family: Courier;
    text-align: left;
    margin-top: 0;
  }
  p {
    font-size: 22px;
    font-family: Courier;
    text-align: left;
    font-weight: 550;
    margin: 0px;
  }
  ul {
    margin-top: 30px;
  }
  li {
    font-size: 22px;
    font-family: Courier;
    text-align: left;
    font-weight: 550;
    margin: 0px;
    margin-top: 10px;
  }
  header {
    height: 100vh;
    background-image: url(IMG_20201014_105213.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	  display: flex;
	  justify-content: center;
    align-items: center;
  }
  .popis {
    font-size: 27px;
    margin: 0px 0 20px 0;
  }
  .priklad {
    font-size: 26px;
    margin-top: -30px;
    margin-bottom: 10px;
  }
/*-----------------------------------*/
  .V1priklad-flex-direction{
    display: flex;
    height: 500px;
    width: 500px;
    background-color: grey;
  }
  .V2priklad-flex-direction{
    display: flex;
    height: 500px;
    width: 500px;
    background-color: grey;
    flex-direction: column;
  }
  .V3priklad-flex-direction{
    display: flex;
    height: 500px;
    width: 500px;
    background-color: grey;
    flex-direction: row-reverse;
  }
  .V4priklad-flex-direction{
    display: flex;
    height: 500px;
    width: 500px;
    background-color: grey;
    flex-direction: column-reverse;
  }
  .flex-direction-BOX1{
    background-color: blue;
    width: 40%;
    height: 40%;
  }
  .flex-direction-BOX2{
    background-color: red;
    width: 40%;
    height: 40%;
  }
/*-----------------------------------*/
  .priklad-align-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .V1priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: flex-start;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .V2priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .V3priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .V4priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: stretch;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .V5priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: baseline;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .CV1priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: flex-start;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CV2priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CV3priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CV4priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: stretch;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CV5priklad-align-items {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    align-items: baseline;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .align-items-BOX1 {
    background-color: blue;
    width: 25%;
    height: 25%;
  }
  .align-items-BOX2 {
    background-color: red;
    width: 25%;
    height: 25%;
  }
  .align-items-BOX3 {
    background-color: yellow;
    width: 25%;
    height: 25%;
  }

  .align-items-BOX1-stretch {
    background-color: blue;
    width: 25%;

  }
  .align-items-BOX2-stretch {
    background-color: red;
    width: 25%;

  }
  .align-items-BOX3-stretch {
    background-color: yellow;
    width: 25%;

  }
  .Calign-items-BOX1-stretch {
    background-color: blue;

    height: 25%;
  }
  .Calign-items-BOX2-stretch {
    background-color: red;

    height: 25%;
  }
  .Calign-items-BOX3-stretch {
    background-color: yellow;

    height: 25%;
  }
/*-----------------------------------*/
  .priklad-justify-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .V1priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: flex-start;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .V2priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .V3priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .V4priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: space-around;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .V5priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .V6priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .CV1priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: flex-start;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CV2priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CV3priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CV4priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: space-around;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CV5priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CV6priklad-justify-content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: grey;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .justify-content-BOX1 {
    background-color: blue;
    width: 25%;
    height: 25%;
  }
  .justify-content-BOX2 {
    background-color: red;
    width: 25%;
    height: 25%;
  }
  .justify-content-BOX3 {
    background-color: yellow;
    width: 25%;
    height: 25%;
  }
/*-----------------------------------*/
.V1priklad-flex-wrap {
  display: flex;
  height: 300px;
  width: 300px;
  background-color: grey;
  margin-right: 20px;
  margin-bottom: 20px;
}
.V2priklad-flex-wrap {
  display: flex;
  height: 300px;
  width: 300px;
  background-color: grey;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.V3priklad-flex-wrap {
  display: flex;
  height: 300px;
  width: 300px;
  background-color: grey;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap-reverse;
}
.CV1priklad-flex-wrap {
  display: flex;
  height: 300px;
  width: 300px;
  background-color: grey;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}
.CV2priklad-flex-wrap {
  display: flex;
  height: 300px;
  width: 300px;
  background-color: grey;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}
.CV3priklad-flex-wrap {
  display: flex;
  height: 300px;
  width: 300px;
  background-color: grey;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap-reverse;
  flex-direction: column;
}
.flex-wrap-BOX1 {
  background-color: pink;
  width: 25%;
  height: 25%;
}
.flex-wrap-BOX2 {
  background-color: orange;
  width: 25%;
  height: 25%;
}
.flex-wrap-BOX3 {
  background-color: green;
  width: 25%;
  height: 25%;
}
/*-----------------------------------*/
.flex-shrink-BOX1 {
  background-color: blue;
  width: 60%;
  flex-shrink: 1;
}
.flex-shrink-BOX2 {
  background-color: red;
  width: 60%;
  flex-shrink: 3;
}
/*-----------------------------------*/
.flex-grow-BOX1 {
  background-color: blue;
  width: 30%;
  flex-grow: 1;
}
.flex-grow-BOX2 {
  background-color: red;
  width: 30%;
  flex-grow: 3;
}
/*-----------------------------------*/
.align-self-BOX1 {
  background-color: blue;
  width: 30%;
  height: 30%;
  align-self: center;
}
.align-self-BOX2 {
  background-color: red;
  width: 30%;
  height: 30%;
  align-self: flex-end;
}
/*-----------------------------------*/

  .kod {
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  .prikladNadpis {
    font-size: 27px;
    margin: 30px 0 20px 0;
  }
  section {
    margin: 50px 200px;
    padding: 50px;
  }
  code {
    font-family: monospace;
    font-style: italic;
  }
  hr {
    border: 1px solid white;
  }
  #hlavnicara{
    border: 3px solid white;
  }
